{% extends 'blognation/index.html' %}
{% block content %}
<header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">

				<h1>
                    Welcome Customers! You can write your reviews and feedback down below.
				</h1>
			
			</div>
			<div class="form-group">
			<form method="POST"> 
				{% csrf_token %}
				{{ form2 }}

  <button type="submit" class="btn btn-primary">Enter</button>
</form>
		</div>
	</header>
{% endblock %}
